h1,h2,h3 {
    font-family:      		"lucida calligraphy", arial, 'sans serif'; 
    text-align:				center;
	color:					blueviolet;
	margin-top:				48px;
}

h2 {
	color:					blue;
	margin-top:				36px;
}

h3 {
    color:					black;
	margin-top:				24px;
}

p {
    text-align:     center;
}

hr {
    width:          75%;
}

.DBGVideoContainer {
    /*border:         2px dashed black;*/
}

.DBGVideoPlayer {
    /*border:         1px dotted gray;*/
}

.MyVideoContainer {
    margin-left:    auto;
    margin-right:   auto;
    
    text-align:     center;
    
    width:          650px;
    height:         490px;
    
    position:       relative;
}



.MyVideoPlayer {
    margin-left:    auto;
    margin-right:   auto;
   
    text-align:     center;

    width:          640px;
    height:         480px;
}

.MyVideoThumbPreview {
    border:             5px solid gray;

    border-radius:      15px;

    background-color:   azure;

    margin-left:        auto;
    margin-right:       auto;
    
    width:              80px;
    height: 		80px;

    text-align:		center;

    position:           relative;
    bottom:             180px;

    display:            none;
}

.MyVideoThumbPreview img {
    border-radius:      10px;
    filter:             grayscale(90%);
}

